header , .section1{
    height: 60px;
    background-color: blanchedalmond;
    padding: 5px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: larger;
    padding-top: 25px;
    margin-bottom: 7px;
}
.section2{
    display: flex;
    background-color: rgba(0, 0, 255, 0.445);
    justify-content: space-around;

}.mini-section{
    background-color: rgba(165, 42, 42, 0.669);
    width: 30%;
    padding: 2px;
}